html, html * {
    box-sizing: border-box;
}

.game-panel {
    width: 60%;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-width: 300px;
    margin: auto;
}

.game-console {
    width: 100%;
    float: none;
    display: inline-block;
    margin: 1em auto;
    padding: 0;
}

.game-console li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    border: solid 1px #999;
    cursor: pointer;
    background: url('') no-repeat center #fff;
    background-size: 100%;
    /* transition: all 0.1s ease-in-out; */
}

.nextTurn {
    color: #d34d0e;
}

.x {
    background-image: url('../img/x.png') !important;
}

.o {
    background-image: url('../img/o.png') !important;
}
#player1-label, #player2-label
{
    font-size: 1.2em;
    float: left;
}

#player2-label
{
    float: right;
}